<!DOCTYPE html>
<html lang="en">
<!--
Name: Daniel Diaz
Created: 07/10/2018
Description: This is the index page for the rest of the site. Used for navagation. -->
<meta name="keywords" content="Memorial Site for my dad " >
<meta name="description" content="Giraldo Diaz">
<meta name="author" content="Daniel Diaz">
<meta name="robots" content="nofollow">
<meta charset="UTF-8">

<head>
    <title> Jerry Diaz </title>
    <link href="CSS/webdefault.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
    <a href="index.html">Home</a>
    <a href="awards.html">Cake Competition</a>
    <a href="activities.html">Fun Extras</a>
    <a href="meals.html">Meals</a>
    <a href="keynote.html">Keynote Speakers</a>
    <a href="workshopschedule.html">Workshop Schedule</a>
    <a href="registration.html">Registration</a>
    <hr />


</header>
<h1> Jerry Diaz </h1>

<main>
    <figure>
        <img src="photos/resort.jpg" alt="Cheyenne Mountain Resort" width="600" height="450">
        <figcaption>The wonderful cheyenne mountain Resort </figcaption>
    </figure>
<pre><b>    The 2018 best cake conference is going to be rich and filling. With new cake concepts and some must classics.
    This year we will look at the top three cakes of the year and you decide which is best in this years poll.
    This years conference will be held at the luxurious Cheyenne Mountain Resort. There is still time to register the
    conference will be held on August 28, 2018</b></pre>
</main>



<footer>
    <address>
        <ul>
            <li><small>Phone Number:303-588-5977</small></li>
            <li><small>Address: 3225 Broadmoor Valley Rd, Colorado Springs, CO 80906 </small></li>
            <li><small>Contact information:</small> <a href="mailto:ddiaz003@regis.edu"> <small>ddiaz003@regis.edu </small></a></li>
            <li><small>While this web site was created to satisfy the requirement of building a web site for an academic course at Regis University,
                the views and opinions expressed on this web site are solely those of the original author and do not necessarily
                represent the views and opinions of Regis University.</small></li>

        </ul>
    </address>
</footer>
</body>
</html>