<!DOCTYPE html>
<html lang="en">
<!--
Name: Daniel Diaz
Created: 04/27/2021
Description: This is the index page for the rest of the site. Used for navagation. -->
<meta name="keywords" content="My cat and Dog " >
<meta name="description" content="Website for my cat and dog">
<meta name="author" content="Daniel Diaz">
<meta name="robots" content="nofollow">
<meta charset="UTF-8">
<head>
    <center><title>The cutiest </title></center>
    <link href="CSS/webdefault.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <a href="index.html">Home</a>
    <a href="Baby Ding.html">Baby Ding</a>
    <a href="Hershey.html">Hershey</a>
    <a href="Cutiest.html">Who Is The Cutiest</a>
    <a href="Favorite meals.html">Pet Favorite Meals</a>
    <a href="Events.html">See Them Live</a>
    <a href="registration.html">Registration</a>
    <hr />
</header>
<center><h1> Who is the cutiest</h1></center>

<center><main>
    <figure>
        <img src="photos/ding.jpg" alt="Ding saying hello" width="300" height="225">
        <figcaption>Baby Ding on Her Tower of Doom </figcaption>
    </figure>
<pre><b>    Vote page
</b></pre>
<figure>
    <img src="photos/hershey.jpeg" alt="Hershey Making His Introduction" width="200" height="300">
    <figcaption>Hershey Making His Introduction </figcaption>
</figure>
</main></center>
<footer>
    <address>
        <ul>
            <li><small>Address: 3225 Broadmoor Valley Rd, Colorado Springs, CO 80906 </small></li>
            <li><small>Contact information:</small> <a href="mailto:danieldiaz648@gmail.com"> <small>danieldiaz648@gmail.com </small></a></li>
            <li><small>This Website was created out of fun and learning. There are no real events and the fluffy monsters are at home napping away</small></li>

        </ul>
    </address>
</footer>
</body>
</html>